@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-grey-100: #1e1e1e;
  --color-grey-300: #494949;
  --color-grey-400: #666666;
  --color-grey-500: #999999;
  --color-grey-600: #d4d4d4;
  --color-grey-700: #f3f3f3;
  --color-grey-800: #f8f8f8;
  --color-grey-900: #f8f8f8;

  --color-success: #2fcf92;
  --color-danger: #dc3545;
  --color-warning: #ffa800;

  --color-snow: #fafafa;
  --color-pink: #ff5775;
  --color-red: #eb0d47;
  --color-orange: #eb732b;
  --color-yellow: #ffbf1b;
  --color-blue: #0d6ffc;

  --color-kakao: #fccb00;
  --color-naver: #1ec800;
  --color-apple: rgba(0, 0, 0, 0.5);
}
